<div class="row mt-2">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Drums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
            </li>
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <router-outlet></router-outlet>        
    </div>
</div>